
{{!-- used in /user/home --}}
<div id="">
<a href='/outfit/detail/{{this._id}}' class="framework_inside">
<div class="desc">
    <h2>{{this.title}}</h2>
    <p class="outfit_thumb_nr"><img src="../images/icon_heart.png" alt="x" class="heart_icon">{{outfit.liked_by.length}}</p>
    <p class="outfit_thumb_nr"><img src="../images/icon_tshirt.png" alt="x" class="items_icon">{{this.items.length}}</p>
</div>
<div class="thumb-img">
    <img src="/{{this.image}}" alt="Outfit">
</div>
</a>
</div>
