{{!-- used in /outfit/list --}}

<div id="shared_outfit_thumb_framework">
    <a href='/outfit/detail/{{this._id}}'>
        <div class="framework_inside">
            <div class="desc">
                <h5>{{this.title}}</h5>
                <div class="desc-frame">
                    <h6>Occasion: </h6>
                    <p> {{this.occasion}}</p>
                </div>
                <div  class="desc-frame">
                    <h6>Amount of items: </h6>
                    <p> {{this.items.length}}</p>
                </div>
            </div>
            <div class="thumb-img">
                <img src="/images/{{this.image}}" alt="Outfit" class="img-thumb">
            </div>
        </div>
    </a>
</div>