{{!-- used in /outfit/list --}}

<a href='/outfit/detail/{{this._id}}'>
<div class="desc">
    <h2>{{this.title}}</h2>
    <h4>Occasion: {{this.occasion}}</h4>
    <h4>Amount of itmes: {{this.items.length}}</h4>
</div>
<div class="thumb-img">
    <img src="/{{this.image}}" alt="Outfit">
</div>
</a>