
{{!-- used in /outfit/fitting-room --}}
<div id="shared_outfit_thumb_framework">
<a href='/outfit/feed/{{this._id}}' class="framework_inside">
<div class="desc">

    <h4>{{this.title}}</h4>
    <div class="like_items_div">
        <p class="outfit_thumb_nr"><img src="../images/icon_heart.png" alt="x" class="heart_icon">{{outfit.liked_by.length}}</p>
        <p class="outfit_thumb_nr"><img src="../images/icon_tshirt.png" alt="x" class="items_icon">{{this.items.length}}</p>
    </div>

</div>
<div class="thumb-img">
    <img src="/{{this.image}}" alt="Outfit" class="img-thumb">
</div>
</a>
</div>
