{{>nav}}

<div id="top-image">
    <img src="/images/{{item.image}}" alt="">
</div>
<div id="description">
    <div>
        <h2 class="title">{{item.title}}</h2>
        <h4 class="sub-title">{{item.brand}}</h4>
        <h4 class="sub-title">{{item.material}}</h4>
        <p class="sub-title">{{item.occasion}}</p>
    </div>



<a href="/item/delete/{{item._id}}"><button class="delete-btn" id="delete-item">Delete</button></a>

<a href="/item/update/{{item._id}}"><button class="delete-btn" id="delete-item">Update</button></a><br>


<a href="/outfit/list"><button class="back-btn" id="back-to-list">Back</button></a>