{{> nav}}
{{> create_btn }}
{{> side_menu}}
{{> sidemenu_open_btn}}

<h2 id="createH2" class="H2">Welcome to your profile, {{user.username}}!</h2>
<div  id="top-image">
    <img src="/images/{{user.image}}" alt="" class="outfit-feed-img">
</div>

<div id="form-frame">
    <form action="/user/update" method="POST" id="form-frame-inside" enctype="multipart/form-data">

        <div class="form-group">
            <label for="user-img">Upload your profile picture.</label>
            <input class="form-control" type="file" required name="user-img">
        </div>

        <div class="form-group">
            <label for="firstname">Firstname: </label>
            <input type="text" name="firstname" required class="form-control" value="{{user.firstname}}" placeholder={{user.firstname}}>
        </div>

        <div class="form-group">
            <label for="lastname">Lastname: </label>
            <input type="text" name="lastname" required class="form-control" value="{{user.lastname}}" placeholder="{{user.lastname}}">
        </div>

        <button type="submit" class="btn btn-primary" id="btn-primary-green-login" id="">Save changes</button>
    </form>
</div>
