{{>nav}}
{{> create_btn }}
{{!-- <p>Welcome {{username}}</p> --}}


<div id="home-frame">
    <div id="fitting-room-frame">
        <h2 class="mainH2">Your Fitting Room</h2>
        <div id="fitting-room-frame-inside">
            {{#each outfit}}
            <a href="/outfit/feed/{{this._id}}">
                <div class="shared-outfit">
                    <img src="/{{this.image}}" alt="">
                    <p>{{this.title}}</p>
                </div>
            </a>     
            {{/each}} 
            
        </div>
    </div>
    <div>
        <div>
            <h2 class="mainH2">Your Genies</h2class="mainH2">
        </div>
        <div>
            {{#each outfit.owner.friends}} 
                <a href='/genie/fitting-room/{{this._id}}'>
                    <div class="shared-outfit">
                        <img src="/{{this.image}}" alt="">
                        <p>{{this.firstname}}</p>
                    </div>
                </a>
                
            {{/each}}
        </div>

    </div>

    <ul>
        
        <li>Menu-icon (slides in from the left -->) </li>
        <li>"Your outfits" --> direct you to Outfit-detail-full</li>
        <li>"Your fitting-room" --> direct you to Fitting-room(/outfit/activity)</li>
        <li>"Your genies" --> direct you to Genies-outfit</li>
    </ul> 
</p>
<a href="/outfit/create"></a>
