{{>nav}}
{{> create_btn }}
{{> side_menu}}
{{> sidemenu_open_btn}}

<div id="detail-form">
    <div id="top-image">
        <img src="/images/{{outfit.image}}" alt="Outfit-image">
    </div>

    <div id="description">
            <div>
                <h2 class="title">{{outfit.title}}</h2>
                <h6>At: {{outfit.occasion}}</h6>
                <h6>Description: {{outfit.description}}</h6>
            </div>

            <div id="icon-div">
                {{#if outfit.shared}}
                    <div><a href="/outfit/unshare/{{outfit._id}}"> <img src="/images/share_btn.png" alt="Unshare" class="outfit-feed-icons"></a></div>
                {{else}}
                    <div><a href="/outfit/share/{{outfit._id}}"> <img src="/images/icon_unshare.png" alt="Share" class="outfit-feed-icons"></a></div>
                {{/if}}
                <a href="/outfit/update/{{outfit._id}}"><img src="/images/icon_update.png" alt="Update" class="outfit-feed-icons"></a>
                <a href="/outfit/delete/{{outfit._id}}"><img src="/images/delete_bin.png" alt="Delete" class="outfit-feed-icons"></a>
                 <a href="/item/create"><img src="/images/add_item.png" alt="Add Item" class="outfit-feed-icons"></a>
            </div>
    </div>

    <div class="item-list">
        {{#each outfit.items}}
            {{> item_thumb}}    
        {{/each}}    
    </div>

    <a href="/outfit/list"><img src="/images/back_btn.png" alt="Back" class="back-btn"></a>
</div>


