{{>nav}}
{{> create_btn }}

<div id="top-image">
    <img src="/images/{{outfit.image}}" alt="">
</div>
<div id="description">
    <div>
        <h2 class="title">{{outfit.title}}</h2>
        <p class="sub-title">{{outfit.occasion}}</p>
    </div>

{{#if outfit.shared}}
    <div><a href="/outfit/unshare/{{outfit._id}}">unshare sign</a></div>

{{else}}
    <div><a href="/outfit/share/{{outfit._id}}">share sign</a></div>
{{/if}}
</div>


<div class="item-list">
    {{#each outfit.items}}
        {{> item_thumb}}    
    {{/each}}    
</div>



<script>

</script>

