{{>nav}}
{{> create_btn }}

<div id="top-image">
    <img src="/images/{{outfit.image}}" alt="" class="outfit-feed-img">
</div>


<div id="outfit-feed-info">
    <div id="outfit-feed-description">
        <h3>{{outfit.title}}</h3>
        <div class="desc-frame">
                <h4>Occasion: </h4>
                <p> {{outfit.occasion}}</p>
        </div>
    </div>

    {{#if outfit.shared}}
            <div><a href="/outfit/unshare/{{outfit._id}}"><img src="/images/icon_unshare.png" alt="Unshare" class="outfit-feed-icon-unshare"></a></div>
    {{else}}
            <div><a href="/outfit/share/{{outfit._id}}"><img src="/images/share_btn.png" alt="Share" class="outfit-feed-icon-unshare"></a></div>
    {{/if}}
</div>
    
<a href="/outfit/delete/{{outfit._id}}"><button class="delete-btn" id="delete-outfit">Delete</button></a>
<a href="/outfit/update/{{outfit._id}}"><button class="delete-btn" id="delete-outfit">Update</button></a>




<h2 id="outfit-liked-by">Your outfit is liked by:</h4>
<div class="item-list">
    {{#each outfit.liked_by}}
        {{> outfit_feed_user_thumb}}   
    {{/each}} 
</div>