{{>nav}}
{{> create_btn }}

<div id="top-image">
    <img src="/images/{{outfit.image}}" alt="" class="outfit-feed-img">
</div>


<div id="description">
    <div id="outfit-feed-info">
            <div id="outfit-feed-description">
                <h3>{{outfit.title}}</h3>
                <div class="desc-frame">
                    <h5>Occasion: </h5>
                    <p> {{outfit.occasion}}</p>
                </div>
            </div>

        <div id="icon-div">
            {{#if outfit.shared}}
                <div><a href="/outfit/unshare/{{outfit._id}}"> <img src="/images/icon_share.png" alt="Unshare" class="outfit-feed-icons"></a></div>
            {{else}}
                <div><a href="/outfit/share/{{outfit._id}}"> <img src="/images/icon_unshare.png" alt="Share" class="outfit-feed-icons"></a></div>
            {{/if}}
            <a href="/outfit/update/{{outfit._id}}"><img src="/images/icon_update.png" alt="Update" class="outfit-feed-icons"></a>
            <a href="/outfit/delete/{{outfit._id}}"><img src="/images/delete_bin.png" alt="Delete" class="outfit-feed-icons"></a>
            <a href="/item/create"><img src="/images/add_item.png" alt="Add Item" class="outfit-feed-icons"></a>
        </div>
    </div>
</div>

<h2 id="outfit-liked-by">Your outfit is liked by:</h4>
<div class="list-group"></div>
    {{!-- <div class="item-list"> --}}
        {{#each outfit.liked_by}}
            {{> outfit_feed_user_thumb}}   
        {{/each}} 
    {{!-- </div> --}}
</div>

    <a href="/outfit/fitting-room"><img src="/images/back_btn.png" alt="Back" class="back-btn"></a>

