{{>nav}}

<div>
    <img src="/images/{{outfit.image}}" alt="" >
</div>

<form action="/outfit/update" method="post" enctype="multipart/form-data">

    <input type="text" name="id" value="{{outfit._id}}" hidden>

    <label for="outfit-img">Choose an image</label>
    <input type="file" name="outfit-img" />

    <label for="title">title</label>
    <input type="text" name="title" value="{{outfit.title}}" placeholder="{{outfit.title}}">
    <label for="occasion">Occasion</label>
    <select name="occasion" id="outfit-occasion"> 
        <option value="Party">Party</option>
        <option value="Work">Work</option>
        <option value="Funeral">Funeral</option>
    </select>
    <label for="description">Description</label>
    <input type="text" name="description" value="{{outfit.description}}" placeholder="{{outfit.description}}">
    <button type="submit" formmethod="POST" id="">Update</button>
</form>

