{{>nav}}
{{> side_menu}}
{{> sidemenu_open_btn}}

<div id="top-image">
    <img src="/images/{{outfit.image}}" alt="" class="outfit-feed-img">
</div>

<h2 id="createH2">Update Outfit</h2>
<div id="form-frame">
    <form action="/outfit/create" method="POST" id="form-frame-inside" enctype="multipart/form-data">

        <input type="text" name="id" value="{{outfit._id}}" hidden>

        <div class="form-group">
            <label for="outfit-img">Choose new image</label>
            <input class="form-control" type="file" name="outfit-img">
        </div>

        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" name="title"  class="form-control" value="{{outfit.title}}" placeholder="{{outfit.title}}">
        </div>

        <div class="form-group">
            <label for="occasion">Occasion</label>
            <select name="occasion" required id="outfit-occasion" class="form-control">
                <option value="{{outfit.occasion}}">Make a choice</option>
                <option value="Party">Party</option>
                <option value="Work">Work</option>
                <option value="funeral">Funeral</option>
                <option value="Dinner">Dinner</option>
                <option value="Workout">Workout</option>
                <option value="Date">Date</option>
            </select>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" id="" rows="3" value="{{outfit.description}}" placeholder="{{outfit.description}}"></textarea>
        </div>

            <button type="submit" class="btn btn-primary" formmethod="POST" id="btn-primary-green-login" id="">Update</button>
    </form>
</div>